* {
    box-sizing: border-box !important;
}

body {
    background-image: url(../images/bg/shanghai.jpg);
    font-family: "Segoe UI", "Microsoft YaHei UI", sans-serif, "Segoe MDL2 Assets", "Symbols";
}

a {
    text-decoration: unset !important;
}

/* 头部 */
.jiahuan {
    margin-bottom: 2vh;
    background-color: #a7b9cd;
    padding: 0 15%;
    width: 100%;
    position: fixed;
    z-index: 9;
}

.content {
    /* margin-top: 1vh !important; */
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 6vh;
    /* left: 20vh; */
}

.leftrow {
    position: fixed;
    max-width: 14vw;
    z-index: 9;
}

.middelrow {
    left: 13vw !important;
}

.rightrow {
    position: fixed;
    left: 62.5vw;
}

/* 头部 */
.header-user {
    display: inline-block;
    float: right;
    /* padding-right: 10%; */
}

.header-text {
    font-size: 14px;
}

.header-logo-img {
    width: 3em;
    padding: 2px 0;
}

.header-user-img {
    width: 3em;
}

.header-user-name {
    line-height: 3em;
    margin-left: 9px;

}

/* 用户 */
.user {
    background: white;
    border-radius: 7px;
    min-height: 41vh;
    max-height: 41vh;
    margin-bottom: 1vh;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);


}

.top-black {
    background: #343941;
    height: 5vh;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#user-logo {
    /* 头像样式 */
    display: block;
    margin: 0em auto;
    padding: 1em 0.01em 0.5em 0.01em;
}

.name {
    /* 名字样式 */
    border-bottom-width: 10px;
    border-bottom: 0.01em solid #37374c;
    font-family: cursive;
    font-size: 1.5em;
    color: #37374c;
    text-align: center;
    margin: 0 2em;
    padding: 0.5em;
}

.motto-Chinese {
    /* 中文座右铭样式 */
    margin-top: 2em;
    letter-spacing: 1px;
    font-size: 0.85em;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 0.5em;
    color: #37374c;
}

.motto-English {
    /* 英文座右铭样式 */
    margin-top: 0.5em;
    letter-spacing: 1px;
    font-size: 0.85em;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 1.0em;
    color: #aaa;
}

#user-logo:hover {
    transform: scale(1.1);
}



/* 展示栏样式 */

.show {
    /* 展示栏基础（点赞、收藏、打赏） */
    overflow: hidden;
    line-height: 1.4;
    white-space: nowrap;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    margin: 0 auto 1vh auto;
}

.show-item {
    /* 展示栏基础修饰 */
    display: inline-block;
    width: 25%;
}

.show-item-border {
    /* 中间展示栏边框 */
    border-left: 0.01em solid #aaa;
    border-right: 0.01em solid #aaa;
}

.show-item-name {
    /* 展示栏名字样式 */
    font-size: 12px;
    color: #aaa;
    display: block;
    text-align: center;
    margin-top: 0.1em;
}

.show-item-count {
    /* 展示栏上面数字样式 */
    display: block;
    text-align: center;
    color: #37374c;
    font-weight: 600;
    font-size: 18px;
}

/* 导航栏 */
.navigation {
    /* 导航栏基础 */
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-bottom: 1em;
    background: #fff;
    border-radius: 7px;
    height: auto;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);

}

.navigation-head {
    font-size: 16px;
    font-weight: 800;
    color: #37374c;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 0.5em;
    border-bottom: black dashed 1px;
    margin: 0 2.5em 0.5em 2.5em;
}

.navigation-img {
    width: 1.3em;
}

.navigation-title {
    color: #595bb3;
    padding: 5px;
    font-size: 1em;
    text-align: left;
    margin: 0 2.5em;
}

.count {
    display: inline-block;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 6px;
    color: white;
    float: right;
    background-color: #c2bebe;
}

.show-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

.navigation-title:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    color: #fc9e01;
}

/* 中间栏 */
.top {
    padding: 0 !important;
}



.top ul {
    padding: 0 !important;
    margin-top: 0 !important;

}

.top div {
    float: left;
    height: 14.5vh;
    width: 30%;
    border-radius: 6px;

}

.top div a {
    display: block;
    width: 100%;
    height: 100%;

}

.top div a img {
    width: 100%;
    height: 100%;
}

.top-title {
    position: absolute;
    top: -3vh;
    left: 2vw;
    z-index: 9;
    color: #949faf;
}

.top-title-big {
    font-size: 16px;
}

.top-title-small {

    font-size: 14px;

}

.img-responsive {
    border-radius: 6px;
}

.top div a span {
    position: relative;
}

.top div:nth-child(1) {
    width: 70%;
    height: 30vh;
    background-color: white;
}

.small-1 {
    margin-left: 1vh;
    margin-bottom: 1vh;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.small-2 {
    margin-top: 1vh;
    margin-left: 1vh;
}

/* 中间菜单 */
.middle-menu {
    margin-top: 2vh;
    border-top: 2px #2db362 solid;
    font-size: 16px;
    font-weight: 800;
    border-bottom: 2px solid #2db362;
}

.li {
    padding: 13px 0 !important;
    margin: 0 !important;
}

.middle-menu .sign {
    color: #2db362;
}

.middle-menu span a {
    color: black;

}

.middle-menu span a:hover {
    color: #2db362;
}



/* 右侧栏 */
.notice {
    box-sizing: content-box;
    background-color: #343941;
    border-radius: 6px;
    margin-bottom: 1vh;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);

}

.notice-black {
    background-color: #343941;
    min-height: 1em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.notice-head {
    border-bottom: none;

}

.notice-head div:nth-child(2) {
    border-left: 5px solid #ffa000;
}


.notice-title {
    padding-top: 6px;
    color: #ffa000;
    font-size: 18px;
    margin-left: 30px;
}


.notice-sub-title {
    display: block;
    color: #ffa000;
    font-size: 12px;
    margin-left: 30px;
    padding-bottom: 6px;
}

.notice-body {
    margin-top: 2vh;
    margin: 0 25px 0 30px;
    color: #949faf;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
}

/* link部分 */
.link-body {
    margin-top: 2vh;
    margin-right: 1vw;
}

.link-block {
    padding: 0 25px;
    width: 3em;
    display: inline-block;
    text-align: center;
    margin-bottom: 2vh;
}

.link-block a {
    margin: 0 auto;
}

.link-img {
    width: 3em;
}

.link-title {
    width: auto;
    display: block;
}

.block:hover {
    transform: scale(1.1);
}

/* pokemon部分 */

.pokemon {
    padding-bottom: 1vh;
}

.pokemon-body {
    margin: 9px 19px;
    border: #a7b9cd solid 1px;
    max-height: 20vh;
    border-radius: 6px;
}


.pokemon-img-info {
    display: inline-block;
    position: relative;
    top: 1vh;
    margin: 0 0 0 1.3vw;
    width: 40%;
}

.pokemon-img-bg {
    width: 100%;
    z-index: 8;
}

.pokemon-img {
    position: relative;
    display: inline-block;
    width: 6em;
    z-index: 9;
    left: -6.7vw;
}

.pokemon-bool {
    width: 1em;
    position: relative;
}

.pokemon-img:hover {
    width: 8em;
    transition: .3s;
}

.pokemon-info {
    display: inline-block;
    color: #ffa000;
    width: 40%;
    margin: 2vh auto;
    padding: 15px 30px 20px 30px;
    border-radius: 6px;
    position: relative;
    top: 30%;
    vertical-align: top;
}

.pokemon-info-item-title {
    line-height: 2em;
    font-size: 18px;
    text-align: center;

}

.pokemon-info-item {
    display: block;
    line-height: 2em;

}




/* 基础展示 */
.pokemon-base {
    width: 100%;
    background-color: #37374c;
    height: 60vh;
}


/* 文章展示 */

.show-article {
    /* blog基础布局 */
    border-radius: 6px;
    height: auto;
    width: 70%;
    position: relative;
    left: 14vw !important;
    margin-bottom: 20vh;
    box-shadow: 0 20px 1px 0 rgba(46, 46, 46, 0.1);

}

.show-article-img {
    width: 100%;
    height: 35.844vh;
    border-radius: 6px;
}

.show-article-body {
    background: #ffffff;
    width: 99%;
    position: relative;
    left: 0.5%;
}

.show-article-white {
    background-color: white;
    height: 2vh;
}

.show-article-head {
    /* 博客头部基础 */
    color: #37374c;
    border-left: 0.4em solid #54c0e0;
    padding: 0 1.6em 0 2em;
}

.show-article-title {
    margin-top: 0 !important;
}



#content {
    margin-top: 2em;
    padding: 0 33px;
}

.show-info {
    /* 博客信息 */
    font-size: 14px;
    color: #828282;
    display: inline-block;
}

.show-article-content {
    /* 拨客内容 */
    padding: 0.4em 2em;
}

.show-article-content img {
    /* 使图片最大化按比例展现 */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.show-article p {
    margin: 2px;
}

.show-article-info {
    /* 博客信息 */
    font-size: 14px;
    color: #e0c9c9;
}

.show-article-info span img {
    width: 1em;
}

.show-article-footer {
    text-align: center;
    padding-bottom: 2vh;
}

.show-article-footer span {
    padding: 0.5em 3em;
}

.show-article-footer-text {
    font-size: 13px;
    padding: 5px 0;
    color: #777;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.show-article-footer-text:before {
    content: '';
    display: block;
    height: 1px;
    background: #eaeaea;
    flex: 1;
    margin: 0 20px;
}

.show-article-footer-text:after {
    content: '';
    display: block;
    height: 1px;
    background: #eaeaea;
    flex: 1;
    margin: 0 20px;
}

.show-articlefooter-info {
    padding-top: 1vh;
    margin: 0 auto;
    display: inline;
}

.icon-bg {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #f49c9e;
    margin: 0 auto;
}

.icon {
    width: 2em;
    vertical-align: middle;
    padding-top: 1em;
}

.editor {
    display: inline-block;
}

.editor img:after {
    content: url(../images/icons/like1-hover.png);
}

.editor-icon {
    display: inline;
    width: 1.5em;
}

.tag {
    font-size: 100px;
    font-weight: normal;
    height: 16px;
    position: relative;
    border-radius: 6px;
    border: 1px solid #cac7c7;
    padding: 1px 6px;
    font-size: 1em;
}

.tag:hover {
    /* 覆盖标签样式 */
    border-radius: 6px;
}

/* footer */


.foot {
    position: relative;
}

/* markdown代码块github主题 自定义部分 */


.linenums li code {
    /* 行高 */
    line-height: 2em !important;
    padding: 0 !important;
}

pre {
    /* 代码块背景颜色 */
    background-color: #f8f8f8 !important;
}

.hljs {
    /* 代码块文字部分背景 */
    background-color: #f8f8f8 !important;
}

.linenums {
    /* 序号,0 padding是无序号 */
    padding-left: 20px !important;

}

.hljs-string {
    /* 字符串样式 */
    color: #117a0d !important;
}

.hljs-comment {
    /* 注释样式 */
    color: #ae5c18 !important;
}

blockquote {
    margin-top: 1vh !important;
    padding: 0 !important;
}

blockquote p {
    font-size: 14px !important;
    padding-left: 9px;
    padding: 2px 9px;
}

span::selection {
    background: rgb(211, 208, 208) !important;
    color: rgb(97, 49, 49) !important;
}